{% extends 'hospital/admin_base.html' %}
{% block content %}

<div class="container">
  <h2>Room List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Status</th>
        <th>patient</th>

      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
        <tr>
          <td>{{ room.room_number }}</td>
          <td>{{ room.room_type }}</td>
          <td>{{ room.status }}</td>
          <td>{{ room.patient_id}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
